{% extends "base.html" %}
{% load static %}

{% block content %}
<p>You’re all set.</p>
<br>
<p>Your email is now confirmed and you’re now the newest member of the Market Insider community. Check your email for a message from me.</p>
<br>
<p>In the meantime, go ahead and follow me on social media handles:</p>
<div class="row">
    <a href="#"><i class="bi bi-twitter"></i></a>
    <a href="#"><i class="bi bi-facebook"></i></a>
    <a href="#"><i class="bi bi-reddit"></i></a>
</div>
<br>
<p>With that, welcome to the Market Insider community!</p>

<p>Now that you’re signed up, you’ll start to receive latest trends, tips, and strategies that can help you stay ahead of the competition.</p>
<br>
<p>Talk Soon.</p>
{% endblock %}