{% extends "base.html" %}
{% load static %}

{% block section %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <img loading="lazy" decoding="async" src="{% static "images/404.png" %}" alt="404" class="img-fluid mb-4" width="500" height="350">
          <h1 class="mb-4">Page Not Found!</h1>
          <a href="/" class="btn btn-outline-primary">Back To Home</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}